.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    background-color: aqua;
    text-align: center;
    align-items: center;
    border: 3px  solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    text-shadow: 1px 1px rgb(233, 81, 81),1px 1px rgb(228, 228, 70);
}
body{
    background-image: linear-gradient(to left, rgb(197, 93, 93),rgb(156, 14, 14),rgb(141, 202, 141));
} 
